<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										 CONTENT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div id="content-wrapper">
  <div class="container">
    <!-- crumbs -->
    <div class="whole-width crumbs">
      You are here: <a href="index.html">Home</a> About Us
    </div>
  </div>
  <!-- title -->
  <div class="title">
    <div class="left-arr"></div>
    <div class="right-arr"></div>
    <div class="container">
      <div class="columns ten alpha title-inner">
        <h1>About  Us</h1>
        <p>This is Beautiful a very clean, responsive theme. </p>
      </div>
      <div class="columns six omega icons">
        <a href="index.html" class="ico-home"><span>Home</span></a><a href="contact.html" class="ico-contact"><span>Contact</span></a><a href="#" class="ico-sitemap"><span>Sitemap</span></a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- /title -->

  <div class="container">
    <!-- page-slogan -->
    <div class="whole-width box-page-slogan">
      <div id="slogan-slider-box">
        <ul class="slogan-slider">
          <li>
            <div class="text-top">Beautiful a very clean, responsive theme perfect solution for your business &amp; portfolio website.</div>
            <div class="text-bottom">Look at all the pages and you will love this theme!</div>
          </li>
        </ul>
      </div>
    </div>
    <!-- end page-slogan -->

    <div class="content-line">
      <!-- content inner page -->
      <div class="column two-thirds inner-page-content">
        <%= image_tag('about-image.jpg', alt: '')%>
        <div class="sep4"></div>
        <h3>About Our Company</h3>
        <h4>Distracted by the readable content of a page when looking at its layoutpoint of using many variations.</h4>
        <p>Randomised words which don't look even slightly believable. If you are going to use a passage you need to be sure there isn't anything embarrassing hidden in the middle. Fact will be distracted by the readable content of a page when looking at its layout. </p>
        <p>Even slightly believable. If you are going to use a passage you need to be sure there isn't anything embarrassing hidden in the middle. <strong>Established fact that a reader</strong> will be distracted by the. Readable content of a page when looking at its layout. The point of using Lorem Ipsum is that. Randomised words which don't look even slightly believable. passage you need to be sure there isn't anything embarrassing.</p>
        <div class="dbl-dott-wrapper"></div>
        <h3 class="sub-title mob-1">How we work</h3>
        <ul class="our-work-scheeme">
          <li>
            <span>01</span>
            <strong>strategy</strong>
          </li>
          <li>
            <span>02</span>
            <strong>Design</strong>
          </li>
          <li>
            <span>03</span>
            <strong>Develop</strong>
          </li>
          <li class="new-row">
            <span>04</span>
            <strong>testing</strong>
          </li>
          <li class="last-li">
            <span>05</span>
            <strong>release</strong>
          </li>
        </ul>
        <p>You are going to use a passage you need to be sure there isn't anything embarrassing hidden in the middle. Established fact that a reader will be <strong>distracted by the</strong>. Readable content of a page when looking at its layout. The point of using Lorem Ipsum is that. Randomised words which don't look even slightly believable. </p>
        <div class="dbl-dott-wrapper"></div>

        <h3 class="sub-title">Our team</h3>
        <ul class="our-team-list">
          <li>
            <a<%= link_to image_tag('team.jpg', alt: ''), '#' %> </a>
            <strong>Adam Jonson</strong>
            <p>Senior designer</p>
          </li>
          <li>
            <a<%= link_to image_tag('team2.jpg', alt: ''), '#' %> </a>
            <strong>Sara Janet Crarkson</strong>
            <p>Senior designer</p>
          </li>
          <li>
            <a<%= link_to image_tag('team3.jpg', alt: ''), '#' %> </a>
            <strong>Peter Northon</strong>
            <p>Senior designer</p>
          </li>
          <li>
            <a<%= link_to image_tag('team4.jpg', alt: ''), '#' %> </a>
            <strong>Josh Peterson</strong>
            <p>Senior designer</p>
          </li>
        </ul>
      </div>
      <!-- /content inner page -->


      <!-- sidebar inner page -->
      <div class="column one-third inner-page-sidebar">
        <div class="mob-line"></div>


        <h4>MAin services</h4>
        <ul class="sevice-links">
          <li><a href="#">Web Design</a></li>
          <li><a href="#">SEO Optimization</a></li>
          <li><a href="#">Business Consulting</a></li>
          <li><a href="#">Programming</a></li>
          <li><a href="#">Photography</a></li>
        </ul>
        <div class="dbl-dott-wrapper"></div>
        <h4>Latest News</h4>
        <ul class="latest-list">
          <li>
            <a href="#">Established fact that a reader will distracted.</a>
            <div class="date-latest">06-Jun-2012</div>
            <p>Even slightly believable. If you are going to use a passage you need to be sure there isn't anything embarrassing hidden in the middle.</p>
          </li>
          <li>
            <a href="#">Variations of passages of available.</a>
            <div class="date-latest">06-Jun-2012</div>
            <p>Even slightly believable. If you are going to use a passage you need to be sure there isn't anything embarrassing hidden in the middle.</p>
          </li>
        </ul>
        <div class="dbl-dott-wrapper"></div>

        <h4>Our Clients</h4>
        <div class="clients-list">
          <a<%= link_to image_tag('clients.jpg', alt: ''), '#' %> </a>
          <a<%= link_to image_tag('clients-02.jpg', alt: ''), '#' %> </a>
          <a<%= link_to image_tag('clients-03.jpg', alt: ''), '#' %> </a>
          <a<%= link_to image_tag('clients-06.jpg', alt: ''), '#' %> </a>
          <a<%= link_to image_tag('clients-04.jpg', alt: ''), '#' %> </a>
          <a<%= link_to image_tag('clients-05.jpg', alt: ''), '#' %> </a>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</div>
<!-- end content -->