<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										 CONTENT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div id="content-wrapper">
  <div class="container">
    <!-- home slider -->
    <div id="home-slider">
      <div id="home-slider-preview"> <%= image_tag('large/home-page.jpg', alt: '') %>
        <div class="hm-text">
          <h3><a href="#">Distracted the readable content</a></h3>
          <p>There are many variations of passages of available, majority have suffered alteration in some form.</p>
        </div>
      </div>
      <div class="home-slider-navi">
        <ul>
          <li> <a href='assets/large/home-page.jpg'> <%= image_tag('217x116/thumb-01.jpg', alt: '')%></a>
            <div class="hm-text">
              <h3><a href="#">Distracted the readable content</a></h3>
              <p>There are many variations of passages of available, majority have suffered alteration in some form.</p>
            </div>
          </li>
          <li> <a href='assets/large/slide-02.jpg'> <%= image_tag('217x116/thumb-02.jpg', alt: '')%></a>
            <div class="hm-text">
              <h3><a href="#">Readable content</a></h3>
              <p>Majority have suffered alteration in some form.</p>
            </div>
          </li>
          <li> <a href='assets/large/slide-03.jpg'> <%= image_tag('217x116/thumb-03.jpg', alt: '')%></a>
            <div class="hm-text">
              <h3><a href="#">The readable content</a></h3>
              <p>Suffer alteration in some form, there are many variations of passages of available.</p>
            </div>
          </li>
          <li> <a href='assets/large/slide-04.jpg'> <%= image_tag('217x116/thumb-04.jpg', alt: '')%></a>
            <div class="hm-text">
              <h3><a href="#">Distracted the readable content</a></h3>
              <p>There are many variations of passages of available, majority have suffered alteration in some form.</p>
            </div>
          </li>
          <li> <a href='assets/large/slide-05.jpg'> <%= image_tag('217x116/thumb-05.jpg', alt: '')%></a>
            <div class="hm-text">
              <h3><a href="#">Distracted the readable content</a></h3>
              <p>There are many variations of passages of available, majority have suffered alteration in some form.</p>
            </div>
          </li>
          <li> <a href='assets/large/slide-06.jpg'> <%= image_tag('217x116/thumb-06.jpg', alt: '')%></a>
            <div class="hm-text">
              <h3><a href="#">Readable content</a></h3>
              <p>Majority have suffered alteration in some form.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- end home slider -->

    <!-- types -->
    <div class="items-detail">
      <div class="columns four item-clean">
        <h3>Clear design <em>Need to be sure there isn't anything.</em></h3>
        <p>Which don't look even slightly believable. If you are going to use a passage you need to be sure there isn't anything.</p>
        <a href="#" class="link-detail">Continue reading</a> </div>
      <div class="columns four item-flexible">
        <h3>Very Flexible <em>Which don't look even slightly believable.</em></h3>
        <p>Which don't look even slightly believable. If you are going to use a passage you need to be sure there isn't anything.</p>
        <a href="#" class="link-detail">Continue reading</a> </div>
      <div class="columns four item-responsive">
        <h3>Ultra Responsive <em>Slightly believablegoing to use.</em></h3>
        <p>Which don't look even slightly believable. If you are going to use a passage you need to be sure there isn't anything.</p>
        <a href="#" class="link-detail">Continue reading</a> </div>
      <div class="columns four item-support">
        <h3>Great Support <em>Going to use a passage you need.</em></h3>
        <p>Which don't look even slightly believable. If you are going to use a passage you need to be sure there isn't anything.</p>
        <a href="#" class="link-detail">Continue reading</a> </div>
      <div class="clear"></div>
    </div>
    <!-- end types -->

    <!-- page-slogan -->
    <div class="box-page-slogan mb39 home-box">
      <div id="slogan-slider-box">
        <ul class="slogan-slider">
          <li>
            <div class="text-top">Beautiful a very clean, responsive theme perfect solution for your business &amp; portfolio website.</div>
            <div class="text-bottom">Look at all the pages and you will love this theme!</div>
          </li>
          <li>
            <div class="text-top">Freedom is life's great lie. Once you accept that, in your heart, you will know peace.</div>
            <div class="text-bottom">Yeah, you say peace. I kinda think you mean the other thing.</div>
          </li>
          <li>
            <div class="text-top">Powerful HTML5 Site Template designed in a clean and minimalistic style.</div>
            <div class="text-bottom">This template fully responsive and easy for customizing.</div>
          </li>
        </ul>
      </div>
    </div>
    <!-- end page-slogan -->

    <!-- Recent Projects -->
    <div class="full-width sub-title">
      <h3>Recent Projects</h3>
      <div id="recent-navi-inner"></div>
    </div>
    <div id="recent-projects-list" class="home-recent">
      <ul>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-01.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="assets/large/im5.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">Drive my soul</a> <span class="ipl-text">photography</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-02.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="assets/large/im6.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">Walking on a dream</a> <span class="ipl-text">web design</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-03.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="assets/large/im7.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">The sweet escape</a> <span class="ipl-text">illustration</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-04.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="assets/large/im8.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">Drive my soul</a> <span class="ipl-text">web design</span> </span> </li>

        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-05.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="assets/large/im10.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">The weight of time</a> <span class="ipl-text">photography</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-06.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox-media ipl-ico" href="http://player.vimeo.com/video/26483408">Zoom</a> <a class="ipl-link" href="portfolio-page.html">Invisible winds</a> <span class="ipl-text">video</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-07.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="assets/large/im14.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">Cinderella in Wonderland</a> <span class="ipl-text">photography</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-08.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="assets/large/im15.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">Destiny cards</a> <span class="ipl-text">illustration</span> </span> </li>

        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-09.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox-media ipl-ico" href="http://youtu.be/v9VgQehvw7k">Zoom</a> <a class="ipl-link" href="portfolio-page.html">The weight of time</a> <span class="ipl-text">video</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-10.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="images/large/im17.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">Ebb and flow</a> <span class="ipl-text">illustration</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-11.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox ipl-ico" href="images/large/im1.jpg">Zoom</a> <a class="ipl-link" href="portfolio-page.html">The violence behind</a> <span class="ipl-text">photography</span> </span> </li>
        <li> <span class="img-over"><%= image_tag('460x287/portfolio-460x287-12.jpg', alt: '')%></span> <span class="over-ipl"> <a class="fancybox-media ipl-ico" href="https://vimeo.com/42011464">Zoom</a> <a class="ipl-link" href="portfolio-page.html">If the dream flies away</a> <span class="ipl-text">video</span> </span> </li>
      </ul>
      <div class="hidder-right"></div>
      <div class="hidder-left"></div>
    </div>

    <!-- end Recent Projects -->

    <!-- blog -->
    <!-- Recent Projects -->
    <div class="full-width sub-title">
      <h3>Blog Posts</h3>
      <div id="blog-navi"></div>
    </div>
    <div class="blog-posts">
      <ul>
        <li class="blog-note">
          <h3><a href="#">Readable content when the randomised.</a></h3>
          <div class="blog-info">By <strong>Josh Dickens</strong> on <strong>Mar 27, 2012</strong></div>
          <p>Distracted by the readable content of a page when looking at its layout. The point of using is that it has more normal.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
        <li class="blog-photo">
          <h3><a href="#">Established fact that a reader distracted.</a></h3>
          <div class="blog-info">By <strong>Roman</strong> on <strong>Mar 27, 2012</strong></div>
          <p>The middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
        <li class="blog-audio">
          <h3><a href="#">Andomised words which looks lightly.</a></h3>
          <div class="blog-info">By <strong>Sara Jacobs</strong> on <strong>Mar 27, 2012</strong></div>
          <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
        <li class="blog-smth">
          <h3><a href="#">Andomised words which looks lightly.</a></h3>
          <div class="blog-info">By <strong>Sara Jacobs</strong> on <strong>Mar 27, 2012</strong></div>
          <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
        <li class="blog-note">
          <h3><a href="#">Readable content when the randomised.</a></h3>
          <div class="blog-info">By <strong>Josh Dickens</strong> on <strong>Mar 27, 2012</strong></div>
          <p>Distracted by the readable content of a page when looking at its layout. The point of using is that it has more normal.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
        <li class="blog-photo">
          <h3><a href="#">Established fact that a reader distracted.</a></h3>
          <div class="blog-info">By <strong>Roman</strong> on <strong>Mar 27, 2012</strong></div>
          <p>The middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
        <li class="blog-audio">
          <h3><a href="#">Andomised words which looks lightly.</a></h3>
          <div class="blog-info">By <strong>Sara Jacobs</strong> on <strong>Mar 27, 2012</strong></div>
          <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
        <li class="blog-smth">
          <h3><a href="#">Andomised words which looks lightly.</a></h3>
          <div class="blog-info">By <strong>Sara Jacobs</strong> on <strong>Mar 27, 2012</strong></div>
          <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected.</p>
          <a href="blog-page.html" class="link-detail">Continue reading</a> </li>
      </ul>
      <div class="hidder-right"></div>
      <div class="hidder-left"></div>
    </div>
    <!-- end blog -->
    <div class="separator10"></div>
  </div>
</div>
<!-- end content -->